html {
	margin: 0px;
}

body {
	font-family: 'Trirong', serif;
	font-size: 16px;
	width: 100%;
}

#container {
	display: flex;
	height: 100%;
	margin: auto;
	width: 50%;
}

#left-column, #right-column {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-items: stretch;
	width: 50%;
}

.quote {
	text-align: center;
	padding: 1em;
}

span {
	font-family: 'Calligraffitti', cursive;
	font-size: 1.3em;
	font-weight: bold;
}

/*gray background, pink text*/
.color-1 {
	background: #b3b3b3;
	color: #e60073;
}

/*pink background, gray text*/
.color-2 {
	background: #ff3385;
	color: #b3b3b3;
}

/*black background, pink text*/
.color-3 {
	background: #000000;
	color: lightpink;
}
